@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#pNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 70px;
    background-color: white;
    z-index: 100;
}

#mainDesc {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 130px;
}

#mainDesc>#left {
    width: 37%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#mainDesc>#right {
    width: 63%;
    padding: 4px 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#imgDiv {
    display: flex;
    gap: 10px;
}

#imgDiv #imgGrid {
    /* width: 63; */
    padding: 4px;
    width: 63px;
    height: 63px;
}

#imgDiv #imgGrid div {
    margin-top: 8px;
    border: 1px solid lightgray;
}

#imgDiv #imgGrid div:hover img {
    transform: scale(0.94);
    transition: 0.5 ease;
}

#imgDiv #imgGrid div:hover {
    border: 1px solid #ed0331;
}

#imgGrid .focus:focus {
    border: 2px solid #ed0331;
}

#imgGrid img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 60px;
    padding: 4px;
}

#imgDiv #imgFull {
    width: 100%;
    text-align: center;
    padding: 4px;
}

#imgFull img {
    max-width: 100%;
    height: 416px;
}

#btnDiv {
    /* border: 1px solid rgb(215, 28, 59); */
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

#btnDiv button {
    width: 180px;
    padding: 12px;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 16px 0;
    margin-bottom: 8px;
    cursor: pointer;
}

#addtocart {
    background-color: #ff9f00;
}

#buy {
    background-color: #ed0331;
}

#right span {
    color: gray;
    font-size: 12px;
}

#right #title {
    margin-top: 8px;
    color: #333;
    font-weight: 400;
    font-size: 17px;
}

#brand {
    margin-top: 6px;
    color: gray;
    font-weight: 500;
    font-size: 16px;
}

#right #rating {
    font-size: 12px;
    background-color: #388e3c;
    color: #fff;
    width: min-content;
    padding: 2px 4px;
    border-radius: 4px;
    margin-top: 10px;
}

#allPrice {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 10px;
    margin-top: 16px;
}

#price {
    font-weight: 540;
    font-size: 28px;
}

#strPrice {
    font-size: 17px;
    color: gray;
    text-decoration: line-through;
}

#disPrice {
    font-weight: 500;
    color: green;
}

.fa-tag {
    color: #14be45;
    font-size: 16px;
}

#offer {
    margin-top: 18px;
}

#offer p:first-child {
    font-weight: 600;
    margin-bottom: 10px;
}

#offer p:not(:first-child) {
    line-height: 8mm;
    font-size: 14px;
}

#offer span {
    color: #ed0331;
    font-size: 14.5px;
    cursor: pointer;
}

#clrSize {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0;
}

#clrSize p {
    color: gray;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

#right>p {
    color: gray;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

#right #seller {
    color: #ed0331;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}

#dis {
    margin-top: 10px;
}

#dis span {
    color: #333;
    font-size: 14px;
    font-weight: 300;
}

#demo {
    display: none;
}

#demo .carousel-inner .carousel-item {
    /* min-width: 416px; */
    height: 416px;
}

#demo .carousel-inner .carousel-item img {
    /* min-width: 416px; */
    /* width: max-content; */
    height: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .layer {
        display: block;
    }

    #mainDesc {
        display: block;
        margin-top: 150px;
    }

    #mainDesc #right {
        width: 100%;

    }

    #imgDiv {
        display: none;
    }

    #demo {
        display: block;
    }

    #mainDesc #left {
        width: 100%;
    }

    #btnDiv {
        width: 100%;
        justify-content: center;
    }

    #demo .carousel-inner .carousel-item img {
        /* min-width: 416px; */
        width: 450px;
        height: 100%;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {

    #right #clrSize {
        display: block;
        margin-bottom: 12px;
    }

    #right #clr {
        margin-bottom: 10px;
    }

    #dis {
        line-height: 6mm;
        text-align: justify;
        text-justify: inter-word;
    }

}

@media screen and (min-width: 350px) and (max-width: 380px) {
    #demo .carousel-inner .carousel-item img {
        /* min-width: 416px; */
        width: 320px;
        height: 100%;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 381px) and (max-width: 480px) {
    #demo .carousel-inner .carousel-item img {
        /* min-width: 416px; */
        width: 380px;
        height: 100%;
        display: block;
        margin: auto;
    }
}

@media all and (min-width: 769px) and (max-width: 870px) {
    #mainDesc {
        margin-top: 150px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed0331;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ed0331;
}