@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f1f3f6;
}

.cartMain {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 10px;
    margin-top: 80px;
}

.cartDelevery {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: white;
    margin-top: 8px;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
}

#checkPin {
    cursor: pointer;
}

.cartProduct {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: white;
    overflow-y: scroll;
    margin-bottom: 8px;
    height: 87vh;
}

#checkPin {
    border: 0.5px solid #ed0331;
    padding: 6px 12px;
    color: #ed0331;
}

.cartProductCard {
    display: flex;
    gap: 24px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}

#imgId{
    display: block;
    margin: auto;
    width: min-content;
    margin-top: 50px;
}

.cartProductCard .leftDiv img {
    max-width: 120px;
    max-height: 120px;
    display: block;
    margin: auto;
}

.cartProductCard #quanDiv {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.cartProductCard .rightDiv {
    width: 100%;
}

.cartProductCard .rightDiv .titleDD {

    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.cartProductCard .rightDiv .priceDD {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.cartProductCard .leftDiv div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

#minus,
#plus {
    border: 0.5px solid grey;
    border-radius: 50%;
    padding: 3px 9px;
    cursor: pointer;
}

.cartProductCard #quanDiv #qauntity {
    margin-top: 3px;
}

.cartMain .cartRight div div {
    display: flex;
    justify-content: space-between;
}

#title {
    font-size: 16px;
    font-weight: 500;
    max-width: 320px;
    max-height: 43px;
    overflow: hidden;
}

.titleDD p {
    font-size: 12px;
    /* margin: auto; */
    text-align: right;
}

#size {
    font-size: 14px;
    color: #878787;
    margin-top: 4px;
}

#seller {
    font-size: 14px;
    margin-top: 8px;
    color: #878787;
}

#sPrice {
    color: #878787;
    font-size: 14px;
    margin: auto 0;
    text-decoration: line-through;
}

#price {
    color: #212121;
    font-size: 18px;
}

#discount {
    color: green;
    font-size: 14px;
    margin: auto 0;
}

#remove {
    margin-top: 16px;
    font-size: 16px;
    border: none;
    padding: 4px 8px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ed0331;
    border-radius: 4px;
}

#remove:hover {
    color: #ed0331;
}

.cartRight>div {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-top: 10px;
    padding: 16px;
}

.cartRight p {
    margin: 8px 0;
    font-size: 14px;
    color: #212121;
}

.cartRight h3 {
    padding-bottom: 8px;
    font-size: 16px;
    color: #878787;
}

.cartRight .lastDiv>p {
    margin: 16px 0;
    font-weight: 600;
}

#totalDiscount,
#free,
#allSaving {
    color: green;
}

.cartMain .cartLeft {
    width: 60%;
}

.cartMain .cartRight {
    width: 25%;
}

.cartRight #payBtn{
    width: 150px;
    display: block;
    margin: auto;
    /* padding: 10px 18px; */
    padding: 12px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-weight: bolder;
    background-color: #ED0331;
}

@media all and (min-width: 0px) and (max-width: 768px) {
    .cartMain {
        display: block;
        margin: 0 8px;
        margin-top: 140px;
    }

    .cartMain .cartLeft {
        width: 100%;
    }

    .cartMain .cartRight {
        width: 100%;
    }

    #title {
        font-size: 15px;
    }

    #price {
        font-size: 16px;
    }

    .cartProductCard .rightDiv .titleDD {
        display: block;
        text-align: left;
        gap: 2px;
    }

    #deliveryDate {
        text-align: left;
    }

    .cartProductCard .rightDiv .priceDD {
        flex-wrap: wrap;
    }

    .cartProduct::-webkit-scrollbar {
        display: none;
    }
}

.cartProduct::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed0331;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}