* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    padding: 10px 24px 0 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #172337;
    color: white;
}

.footerContainerLeft {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.footerContainerRight {
    width: 25%;
}

.footerContainerLeft .insideDiv p,
.footerContainerLeft .insideDiv a {
    display: block;
    margin: 16px 0;
}

.socialLogo img {
    width: 24px;
    height: 24px;
}

.socialLogo img:hover,
#playStore:hover {
    transform: scale(1.20);
    transition: 0.2s ease-out;
}

#playStore {
    width: 58px;
    margin: auto;
    display: block;
}

.footerContainerLeft div a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footerContainerLeft div a:hover {
    color: rgb(148, 145, 145);
    transform: scale(1.02);
}

.footerContainerRight div .devloper {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.footerContainerRight div p {
    text-align: center;
    font-size: 14px;
}

.socialLogo {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
}

@media all and (min-width: 0px) and (max-width: 520px) {
    footer {
        display: grid;
        width: 100%;
    }

    .footerContainerLeft {
        width: 100%;
    }

    .footerContainerLeft div {
        margin-top: 10px;
    }

    .footerContainerRight {
        width: 100%;
        justify-content: center;
        margin-top: 16px;
    }

    .footerContainerRight div a {
        font-size: 12px;
    }

    .footerContainerRight div p {
        font-size: 12px;
    }
}