@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*For List Decoration and ancher tag decoration*/
.navbar .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    margin-top: 6px;
    font-family: sans-serif;
    padding: 0 6px;
}

.list-item ul li {
    text-align: start;
}

.list-item h4 {
    margin-left: 5px;
    text-align: start;
}

a {
    text-decoration: none;
}

/*navbar*/
.navbar {
    background-color: white;
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
}

.navbar .mobile-menu-head {
    display: none;
}

.navbar .menu>ul>li {
    display: inline-block;
    padding: 10px 12px;
}

.navbar .menu>ul>li>a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.navbar .menu>ul>li .sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px 30px;
    /*transition: all 0.5s ease;*/
    top: 48px;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 768px) {
    .navbar .menu>ul>li.menu-item-has-children:hover .sub-menu {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }
}

.navbar .menu>ul>li .sub-menu>ul>li {
    line-height: 1;
}

.navbar .menu>ul>li .sub-menu>ul>li>a {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar .menu>ul>li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
}

.navbar .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
    line-height: 1;
    display: block;
}

.navbar .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
    padding: 4px 0;
    display: inline-block;
    font-size: 14px;
    color: #555555;
    transition: color 0.3s ease;
}

.navbar .menu>ul>li .sub-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
}

.navbar .menu>ul>li .sub-menu.mega-menu-column-4 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 15px 8px 15px;
    justify-content: space-around;
}

.navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
    flex: 0 0 25%;
    padding: 0 15px;
}

.navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item:nth-child(odd) {
    flex: 0 0 25%;
    padding: 0 15px;
    background-color: #f9f9f9;
}

.navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
}

.navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
    text-align: center;
}

.navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}

.navbar .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.navbar .menu>ul>li .sub-menu>ul>li>a:hover,
.navbar .item-right a:hover,
.navbar .menu>ul>li:hover>a {
    color: #ed0331;
}


/*RESPONSIVE*/
@media all and (min-width: 769px) and (max-width: 838px) {
    .navbar .menu>ul>li .sub-menu {
        top: 66px;
    }
}

@media all and (min-width: 0px) and (max-width: 768px) {

    /*Nav Bar Responsive*/
    .navbar .menu {
        position: fixed;
        width: 300px;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
        display: block;
    }

    .navbar .menu-main {
        display: block;
    }

    .navbar .menu.active {
        transform: translate(0%);
    }

    .navbar .menu>ul>li {
        line-height: 1;
        margin: 0;
        display: block;
    }

    .navbar .menu>ul>li>a {
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-align: start;
    }

    .navbar .menu>ul>li>a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }

    .navbar .menu .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top: 0;
    }

    .navbar .menu .mobile-menu-head .go-back {
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none;
    }

    .navbar .menu .mobile-menu-head.active .go-back {
        display: block;
    }

    .navbar .menu .mobile-menu-head .current-menu-title {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }

    .navbar .menu .mobile-menu-head .mobile-menu-close {
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 25px;
    }

    .navbar .menu .menu-main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navbar .menu>ul>li .sub-menu.mega-menu,
    .navbar .menu>ul>li .sub-menu {
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }

    .navbar .menu>ul>li .sub-menu.active {
        display: block;
    }

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    .navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
        margin-top: 0;
    }

    .navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
        margin-bottom: 20px;
    }

    .navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center:last-child .title {
        margin-bottom: 0px;
    }

    .navbar .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
        flex: 0 0 100%;
        padding: 0px;
    }

    .navbar .menu>ul>li .sub-menu>ul>li>a,
    .navbar .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
        display: block;
    }

    .navbar .menu>ul>li .sub-menu.mega-menu>.list-item>ul {
        margin-bottom: 15px;
    }

    .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: start;
    }

}